/**
Atoms
*/

.hero-heading {
    text-shadow: 0 1px 10px rgba(0,0,0,.5);
    margin: 1.5rem 0 0 0;
    font-size: 2.5em;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-family: Arial Black;
    color: white;
    white-space: nowrap;
    @media screen and (min-width: dimension(width-xs)) {
        font-size: 3.5em;
    }
    @media screen and (min-width: dimension(width-s)) {
        font-size: 5em;
    }
}