/**
Quarks
*/

button, input {
    border: none;
}

button {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 300ms ease;
    font-weight: bold;
    text-transform: uppercase;
}

form {
    display: flex;
    justify-content: center;
}

header {
    padding: 0 0.5rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    > main, > header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    > header {
        background-color: white;
        background-image: $header_bg_img;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 67.5%;
    }
    > main {
        flex-grow: 1;
        width: 100%;
    }
    > footer {
        padding: 0 1rem;
        background-color: map-get($colors, grey2);
    }
}