/**
Utilities
*/

/* Functions */

@function color($c) {
    @return map-get($colors, $c);
};

/* Functions END */

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: $main-width;
}

.container-full {
    width: 100%;
}