/**
Variables
*/

$colors: (
    olive1: #80885a,
    olive2: #c4d08a,
    olive3: #dce0ca,
    grey1: #aaa,
    grey2: #f6f6f6,
    grey3: #fafafa,
    grey4: #f0f0f0
    
);
$main-width: 968px;
$header_bg_img: url('~images/header-bg.jpeg');