<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.language %>">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
        <meta name="author" content="<%= htmlWebpackPlugin.options.author.name %>">
    </head>
    <body>
        <header>
            <h1 class="hero-heading">Todo List</h1>
            <section class="wrapper">
                <form name="todo-form" class="container-full">
                    <input name="todo-input" placeholder="Your todo..."/><button type="submit">Add Todo</button>
                </form>
            </section>
        </header>
        <main>
            <article class="wrapper">
                <section class="container-full">
                    <ul id="todo-list"></ul>
                </section>
            </article>
        </main>
        <footer>
            <p> Made for the <i>Capgemini IgnITe Pixel Perfect Front End</i> stream 2018 by
                <a href="mailto:<%= htmlWebpackPlugin.options.author.email %>"><%= htmlWebpackPlugin.options.author.name %></a>.
            </p>
        </footer>
    </body>
</html>