/* Quarks */
* {
    /**
    Variables are not supported by older browsers.
    Feel free to copy and paste each property and value where they belong if needed.
     */

    /* Global colors */
    --g_color-primary: #80885a;
    --g_color-main-bg: #ffffff;
    --g_color-footer-bg: #f6f6f6;

    /* Global dimensions */
    --g_dimension-main-width: 968px;

    /* Global images */
    --g_image_header_bg: url(../assets/header-bg.jpeg);
}

button, input {
    border: none;
}

button {
    background-color: var(--color-bg);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 300ms ease;
}

button:hover {
    background-color: var(--color-hover);
}

form {
    display: flex;
    justify-content: center;
}

h1 {
    text-shadow: 0 1px 10px #000000aa;
    margin: 1.5rem 0 0 0;
    font-size: 2.5em;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-family: Arial Black;
    color: white;
}

@media screen and (min-width: 350px) {
    h1 {
        font-size: 3.5em;
    }
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 5em;
    }
}

/* Atoms */
input[name='todo-input'] {
    flex-grow: 1;
    padding: 0 1rem;
}

form[name='todo-form'] {
    box-shadow: 0 1px 10px #000000aa;
    margin: 1.5rem 3rem;
}

form[name='todo-form'] button[type='submit'] {
    --color-bg: #dce0ca;
    --color-hover: #c4d08a;
}

ul#todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#todo-list li {
    transition: 300ms all ease;
    background-color: #fafafa;
    display: flex;
}

ul#todo-list li:nth-child(odd) {
    background-color: #f0f0f0;
}

ul#todo-list li.todo-done  {
    background-color: #aaa;
}

ul#todo-list li.todo-done p {
    text-decoration: line-through;
    color: white;
}

ul#todo-list li p::before {
    /**
    DONE check mark for todo item
    */

    content: '';
    display: block;
    position: absolute;
    opacity: 0;
    left: 1.5rem;
    top: -0.5rem;
    border-color: black;
    border-style: solid;
    border-width: 0 0.125em 0.125em 0;
    transform: rotate(45deg);
    height: 1em;
    width: 0.45em;
    transition: 300ms all ease;
}


ul#todo-list li.todo-done p::before {
    border-color: white;
    opacity: 1;
    top: -0.125rem;
}

ul#todo-list li p {
    overflow: hidden;
    flex-grow: 1;
    text-overflow: ellipsis;
    padding: 0 1rem 0 3rem;
    position: relative;
    transition: 300ms color ease;
}

ul#todo-list li button {
    --color-bg: #ffffff00;
    --color-hover: #c4d08a;
    width: 3rem;
}

/* Utilities */
* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--g_color-main-bg);
}

body > main, body > header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > header {
    background-color: var(--g_color-primary);
    background-image: var(--g_image_header_bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 67.5%;
}

body > main {
    flex-grow: 1;
    width: 100%;
}

body > footer {
    padding: 0 1rem;
    background-color: var(--g_color-footer-bg);
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var(--g_dimension-main-width);
}

.container-full {
    width: 100%;
}